<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-12 col-lg-12">
                <div class="wrap d-md-flex">
                    <div class="img" style="background-image: url(/assets/img/login.jpg);">
                    </div>
                    <div class="login-wrap p-4 p-mb-1 mx-3">
                        <div class="d-flex">
                            <div class="w-100">
                                <h3 class="mb-4">Kayıt Ol</h3>
                            </div>
                            <div class="w-100">
                                <p class="social-media d-flex justify-content-end">
                                    <a class="social-icon d-flex align-items-center justify-content-center"><span class="fa-brands fa-instagram"></span></a>
                                    <a class="social-icon d-flex align-items-center justify-content-center"><span class="fa-brands fa-twitter"></span></a>
                                </p>
                            </div>
                        </div>
                        <form class="signin-form" [formGroup]="registerForm " (ngSubmit)="onSubmit(registerForm.value)">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group mb-3">
                                        <label class="label" for="name">Ad</label>
                                        <input type="text" class="form-control" placeholder="Ad" formControlName="firstName" [ngClass]="{'is-invalid':submitted &&  component.firstName.errors}">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group mb-3">
                                        <label class="label" for="surname">SoyAd</label>
                                        <input type="text" class="form-control" placeholder="Soyad" formControlName="lastName" [ngClass]="{'is-invalid':submitted &&  component.lastName?.errors}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <p class="text-danger" *ngIf="submitted &&  component.firstName.errors?.required"><i class="bi bi-x-circle-fill"></i> Ad Boş Olamaz</p>
                                    <p class="text-danger" *ngIf=" component.firstName.errors?.minlength"><i class="bi bi-x-circle-fill"></i> Minimum 2 karakter olmalı</p>
                                </div>
                                <div class="col-6">
                                    <p class="text-danger" *ngIf="submitted && component.lastName.errors?.required"><i class="bi bi-x-circle-fill"></i> Soyad Boş Olamaz</p>
                                    <p class="text-danger" *ngIf=" component.lastName.errors?.minlength"><i class="bi bi-x-circle-fill"></i> Minimum 2 karakter olmalı</p>

                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <label class="label" for="username">Kullanıcı Adı</label>
                                <input type="text" class="form-control" placeholder="Kullanıcı Adı" formControlName="userName" [ngClass]="{'is-invalid':submitted && component.userName?.errors}" required>
                            </div>
                            <p class="text-danger" *ngIf="submitted && component.lastName.errors?.required"><i class="bi bi-x-circle-fill"></i> Kullanıcı Adı Boş Olamaz</p>
                            <p class="text-danger" *ngIf=" component.userName.errors?.minlength"><i class="bi bi-x-circle-fill"></i> Minimum 2 karakter olmalı</p>
                            <div class="form-group mb-3">
                                <label class="label" for="username">Email</label>
                                <input type="text" class="form-control" placeholder="Email" formControlName="email" [ngClass]="{'is-invalid':submitted &&  component.email?.errors}" required>
                            </div>
                            <p class="text-danger" *ngIf="component.email.errors?.email"><i class="bi bi-x-circle-fill"></i> '@' , '.' içermeli</p>

                            <p class="text-danger" *ngIf="submitted && component.email.errors?.required"><i class="bi bi-x-circle-fill"></i> Email Boş Olamaz</p>
                            <label class="label" for="password">Şifre</label>
                            <div class="input-group mb-3">
                                <input [type]="hide1 ? 'password' : 'text'" autocomplete="on" class="form-control" placeholder="Şifre" formControlName="password"
                                    [ngClass]="{'is-invalid':submitted &&  component.password.errors}">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <a type="button" aria-label="şifreyi göster" (click)="hide1 = !hide1" [class]="hide1 ? 'fa-light fa-regular fa-eye' : 'fa-regular fa-eye-slash'"></a>
                                    </div>
                                </div>
                            </div>
                            <p class="text-danger" *ngIf="submitted && component.password.errors?.required"><i class="bi bi-x-circle-fill"></i> Şifre Boş Olamaz</p>
                            <p class="text-danger" *ngIf="component.password.errors?.minlength"><i class="bi bi-x-circle-fill"></i> Minimum 5 karakter olmalı</p>
                            <p class="text-danger" *ngIf="component.password.errors?.pattern"><i class="bi bi-x-circle-fill"></i> Büyük,küçük harf ve sayı içermeli</p>
                            <label class="label" for="passwordConfirm">Şifre Tekrar</label>

                            <div class="input-group mb-3">
                                <input [type]="hide ? 'password' : 'text'" autocomplete="on" class="form-control" placeholder="Şifre Tekrar" [ngClass]="{'is-invalid':submitted &&  component.passwordConfirm.errors}"
                                    formControlName="passwordConfirm">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <a type="button" aria-label="şifreyi göster" (click)="hide = !hide" [class]="!hide ? 'fa-sharp fa-solid fa-eye' : 'fa-sharp fa-solid fa-eye-slash'"></a>
                                    </div>
                                </div>
                            </div>
                            <p class="text-danger" *ngIf="registerForm.hasError('notSame')"><i class="bi bi-x-circle-fill"></i> Şifreler Eşleşmiyor</p>
                            <div class="form-group d-md-flex">
                                <div class="w-50 text-left">
                                    <label class="checkbox-wrap checkbox-primary mb-0">Şartları Kabul Ediyorum
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group ">
                                <button type="submit" class="form-control btn btn-primary rounded submit px-3">Kayıt Ol</button>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="social-auth-links text-center mb-3">
                                        <asl-google-signin-button type='standard' size='medium' logo_alignment="left" shape='pill' theme="filled_black" text="signin_with">
                                        </asl-google-signin-button>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="social-auth-links text-center mt-2 mb-1 text-center">
                                        <button (click)="facebookLogin()" class="btn btn-block btn-primary">
                                            <i class="fab fa-facebook mr-2"></i> Facebook
                                        </button>
                                    </div>
                                </div>
                            </div>
                            
                        </form>
                        <p class="text-center mt-3">Zaten Hesabım Var <a data-toggle="tab" routerLink="/login">Giriş Yap</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>