<div class="popular-items mt-5">
    <div class="container">
        <div class="satir justify-content-between mb-4">
            <div class="properties_button">
                <nav>
                    <div class="nav nav-tabs">
                        <a class="nav-item nav-link active">Önerilen Sıralama</a>
                        <a class="nav-item nav-link">En Yüksek Fiyat</a>
                        <a class="nav-item nav-link">En Düşük Fiyat</a>
                    </div>
                </nav>
            </div>
            <div class="select-this">
                <div class="select-itms">
                    <div class="nice-select" tabindex="0">
                        <span class="current">40 per page</span>
                        <ul class="list">
                            <li data-value="40" class="option selected focus">40 per page</li>
                            <li data-value="" class="option">50 per page</li>
                            <li data-value="" class="option">60 per page</li>
                            <li data-value="" class="option">70 per page</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 pb-5">
                <div class="single-popular-items text-center">
                    <div class="popular-img">
                        <img src="https://themewagon.github.io/timezone/assets/img/gallery/popular1.png" alt="" routerLink="/">
                        <div class="img-cap">
                            <span>Add to cart</span>
                        </div>
                        <div class="favorit-items">
                            <span class="bi bi-heart"></span>
                        </div>
                    </div>
                    <div class="popular-caption">
                        <h3><a href="product_details.html">Thermo Ball Etip Gloves</a></h3>
                        <span>$ 45,743</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                <div class="single-popular-items mb-50 text-center">
                    <div class="popular-img">
                        <img src="https://themewagon.github.io/timezone/assets/img/gallery/popular2.png" alt="">
                        <div class="img-cap">
                            <span>Add to cart</span>
                        </div>
                        <div class="favorit-items">
                            <span class="bi bi-heart"></span>
                        </div>
                    </div>
                    <div class="popular-caption">
                        <h3><a href="product_details.html">Thermo Ball Etip Gloves</a></h3>
                        <span>$ 45,743</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                <div class="single-popular-items mb-50 text-center">
                    <div class="popular-img">
                        <img src="https://themewagon.github.io/timezone/assets/img/gallery/popular2.png" alt="">
                        <div class="img-cap">
                            <span>Add to cart</span>
                        </div>
                        <div class="favorit-items">
                            <span class="bi bi-heart"></span>
                        </div>
                    </div>
                    <div class="popular-caption">
                        <h3><a href="product_details.html">Thermo Ball Etip Gloves</a></h3>
                        <span>$ 45,743</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                <div class="single-popular-items mb-5 text-center">
                    <div class="popular-img">
                        <img src="https://themewagon.github.io/timezone/assets/img/gallery/popular2.png" alt="">
                        <div class="img-cap">
                            <span>Add to cart</span>
                        </div>
                        <div class="favorit-items">
                            <span class="bi bi-heart"></span>
                        </div>
                    </div>
                    <div class="popular-caption">
                        <h3><a href="product_details.html">Thermo Ball Etip Gloves</a></h3>
                        <span>$ 45,743</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                <div class="single-popular-items mb-5 text-center">
                    <div class="popular-img">
                        <img src="https://themewagon.github.io/timezone/assets/img/gallery/popular2.png" alt="">
                        <div class="img-cap">
                            <span>Add to cart</span>
                        </div>
                        <div class="favorit-items">
                            <span class="bi bi-heart"></span>
                        </div>
                    </div>
                    <div class="popular-caption">
                        <h3><a href="product_details.html">Thermo Ball Etip Gloves</a></h3>
                        <span>$ 45,743</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>