<header class="header" (scroll)="onscroll()" [ngClass]="navbarfixed?'sticky-top':'not-sticky'">
  <!-- Header Start -->
  <div class="header-area">
    <div class="main-header">
      <div class="container-fluid">
        <div class="menu-wrapper">
          <!-- Logo -->
          <div class="logo">
            <a routerLink="/"><img style="width: 100px;" src="assets/img/Aklab-logo.png" alt="Aklab-logo"></a>
          </div>
          <!-- Main-menu -->
          <div class="main-menu d-lg-block">
            <nav>
              <ul class="mb-0" id="slick_menu">
                <li><a routerLink="/">AnaSayfa</a></li>
                <li class="hot"><a routerLink="/shop">Ürünlerimiz</a>
                  <ul class="submenu">
                    <li><a href="assets/e-katalog/AKLAB-E-Katalog.pdf" download="AKLAB-E-Katalog">E-Katalog</a></li>
                  </ul>
                </li>
                <li><a href="blog.html">Blog</a>
                  <ul class="submenu">
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="blog-details.html">Blog Details</a></li>
                  </ul>
                </li>
                <li><a href="#">Hakkımızda</a>
                  <ul class="submenu">
                    <li><a href="login.html">Login</a></li>
                    <li><a href="cart.html">Cart</a></li>
                    <li><a href="elements.html">Element</a></li>
                    <li><a href="confirmation.html">Confirmation</a></li>
                    <li><a href="checkout.html">Product Checkout</a></li>
                  </ul>
                </li>
                <li><a routerLink="/iletisim">İletişim</a></li>
                <li><a routerLink="admin" class="nav-link px-2 text-yellow" *ngIf="authService.isAuthenticated">Yönetim Paneli</a></li>
              </ul>
            </nav>
          </div>
          <!-- Header Right -->
          <div class="header-right">
            <a routerLink="/login" *ngIf="!authService.isAuthenticated"><span><i class="fa-solid fa-user">&nbsp;&nbsp;&nbsp;</i>Giriş Yap</span></a>
            <a routerLink="/register" *ngIf="!authService.isAuthenticated"><span><i class="fa-regular fa-user">&nbsp;&nbsp;&nbsp;</i>Kayıt Ol</span></a>
            <!-- <a href="cart.html"><span class="fa-solid fa-cart-shopping"></span></a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header End -->
</header>
<!--  -->