#scrollUp {
    background: #ff2020;
    height: 50px;
    width: 50px;
    right: 31px;
    bottom: 18px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    line-height: 48px;
    border: 2px solid transparent
}

@media (max-width: 575px) {
    #scrollUp {
        right: 16px
    }
}
